

{% extends "main.html.twig" %}


{% block content %}

<div class="container-fluid">
	<div class="row">
        {% for record in data %}
            <div style="padding:30px">
                <div class="col-md-12 shadow">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="detail-image" style="background-image: url({{record.image}})"> </div>
                        </div>
                        <div class="col-md-6 p-5">
                            <div class="row">
                                <div class="col-md-6 p-2">
                                    {% include 'persons_price_kcal.html' %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 p-2">
                                    <span class="recipe-title">{{ record.title }}</span>
                                </div>
                                <div class="col-md-4 p-2 d-flex align-items-center">
                                    <span class="star" data-value="1">*</span>
                                    <span class="star" data-value="2">*</span>
                                    <span class="star" data-value="3">*</span>
                                    <span class="star" data-value="4">*</span>
                                    <span class="star" data-value="5">*</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 p-2 pb-4">
                                    <span class="ingredient-name"> Keuken &nbsp&nbsp </span> {{record.kitchen}}
                                </div>
                                <div class="col-md-6 p-2 pb-4">
                                    <span class="ingredient-name"> Type &nbsp&nbsp</span> {{record.type}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 p-2 pb-4">
                                    {{record.short_description}}<br><br>
                                    {{record.long_description}}
                                </div>
                            </div>
                            <div class="row d-flex">
                                <div class="col-md-6 p-4 align-items-end">
                                    <a class="oplijst-button" type="submit" style="color: white; font-family: 'pretty_lilyregular'; font-size: 40px; text-align: center; text-decoration: none"> Op lijst </a>
                                    {#  href="index.php?recipe_id={{record.id}}&action=detail" #}
                                </div>
                                <div class="col-md-6 p-4 d-flex align-items-end justify-content-end">
                                    {% set favs = false %}
                                    {% for fav in record.favorites %}
                                        {% if fav.user_id == user_id %}
                                            {% set favs = true %}
                                        {% endif %}
                                    {% endfor %}
                                        <i id="heart" class="fa fa-heart {% if favs == false %}not{% endif %}favorite"> </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="row p-0">
                <div style="padding:30px">
                    <div class="col-md-12" style="overflow: hidden">
                        {% include 'tabs.html' %} 
                    </div>
                </div>
            </div>
        {% endfor %}
</div>

{% endblock %}