{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{# {% block header %}
<img src="assets/img/logo-v2.png"/>
{% endblock %} #}


{# nu de block content op in de main pagina vullen #}
{% block content %}

{# Loop #}


    <div class="row">
    {% for record in data %}

        <div class="col-md-6" >
            <div class="p-md-3" > 
                <div class="recipe-box">

                    <div class="background-image"  style= "background-image: url({{record.image}})"> </div>
                    
                    <div style= "background-color: lightgreen; margin: 20px;">
                    <h2>{{ record.title }}</h2> </div>
                    
                    <div style= "background-color: lightblue; margin: 20px;">
                    {{record.short_description}} </div>

                    <div style= "background-color: pink; margin: 20px;">
                    {{"4"}}
                    {{record.price}}
                    {{record.calories}} </div>

                </div>
            </div>
        </div>
    {% endfor %}


{% endblock %}
