{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{# {% block header %}
<img src="assets/img/logo-v2.png"/>
{% endblock %} #}


{# nu de block content op in de main pagina vullen #}
{% block content %}

{# Loop #}


    <div class="row p-0">
    {% for record in data %}
        <div class="col-md-6 ">
			<div style="padding:30px">
				<div class="shadow">
				{# begin block #}
					<div class="row">
						<div class="col-md-12">
							<div class="background-image" style="background-image: url({{record.image}})"> </div>
					</div>
					<div class="row">
						<div class="col-md-6 p-4">
							<div class="lighter-green"> <h1>{{ record.title }}</h1> </div>
						</div>
						<div class="col-md-6 p-4 d-flex justify-content-end">
							<div>
							<span class="fa fa-star fa-lg checked"></span>
							<span class="fa fa-star fa-lg checked"></span>
							<span class="fa fa-star fa-lg checked"></span>
							<span class="fa fa-star fa-lg "></span>
							<span class="fa fa-star fa-lg "></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 p-4">
							<div>{{record.short_description}} </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 p-4">
							<button class="smullen-button" type="submit"> <h2>Smullen!</h2> </button>
						</div>
						<div class="col-md-6 p-4 d-flex align-items-end justify-content-end">
							<div style="text-align:right">
							<i class="fa fa-user fa-1x lighter-red"></i> 4 &nbsp &nbsp
							<i class="fa fa-euro-sign lighter-red"></i>{{record.price|round()/100}} &nbsp &nbsp
							<i class="fa fa-fire fa-1x lighter-red"></i>{{record.calories/4|round}} &nbsp &nbsp  
							</div>
						</div>
					</div>
				</div>
				{# eind block #}
			</div>
        </div>
    </div>
    {% endfor %}


{% endblock %}
